.navbar {
  height: 440px;
  opacity: 0.5;
  background: var(--other-overlay-50, #000);
}
.navbar .cont {
  padding: 36px 0;
  display: flex;
  align-items: center;
  gap: 24px;
}
.navbar .cont .logo img {
  max-width: -webkit-max-content !important;
  max-width: -moz-max-content !important;
  max-width: max-content !important;
}
.navbar .cont input[type=checkbox] {
  display: none;
}
.navbar .cont label {
  display: none;
}
.navbar .cont .search_bt {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.navbar .cont .search_bt input {
  padding: 12px 16px;
  width: 100%;
  outline: none;
  border-radius: 8px;
  background-color: inherit;
  border: 1px solid var(--text-white, #FFF);
  color: var(--text-body, #808080);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.navbar .cont .search_bt a {
  position: absolute;
  right: 16px;
}
.navbar .cont select {
  cursor: pointer;
  background-color: inherit;
  border: none;
  outline: none;
  color: var(--text-white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 200% */
}
.navbar .cont > a {
  min-width: 160px;
  color: var(--text-tittle, #1C3554);
  font-size: 16px;
  font-family: "Montserrat SemiBold", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.navbar .cont .box-nav {
  display: none;
}
.navbar .cont .acc {
  display: flex;
  align-items: center;
  gap: 8px;
}
.navbar .cont .acc .circle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #AAA;
}
.navbar .cont .acc a {
  color: var(--text-white, #FFF);
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

@media (max-width: 1150px) {
  .navbar {
    margin-bottom: 90px;
  }
  .navbar .cont {
    justify-content: space-between;
    position: relative;
  }
  .navbar .cont label {
    position: absolute;
    display: block;
    cursor: pointer;
  }
  .navbar .cont .logo {
    position: relative;
    right: -40px;
  }
  .navbar .cont select:nth-child(5) {
    height: 0;
    position: absolute;
    top: 120px;
    left: 20px;
    overflow: hidden;
    transition: 0.4s;
    z-index: 4;
    background: none;
  }
  .navbar .cont select:nth-child(6) {
    height: 0;
    position: absolute;
    top: 160px;
    left: 20px;
    overflow: hidden;
    transition: 0.4s;
    z-index: 4;
    background: none;
  }
  .navbar .cont > a {
    height: 0;
    position: absolute;
    top: 70px;
    left: 20px;
    overflow: hidden;
    transition: 0.4s;
    z-index: 4;
  }
  .navbar .cont .search_bt {
    position: absolute;
    width: 100%;
    top: 100px;
    right: 0;
    left: 0;
  }
  .navbar .cont .search_bt a {
    position: absolute;
  }
  .navbar .cont input[type=checkbox]:checked ~ a {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .navbar .cont input[type=checkbox]:checked ~ select {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .navbar .cont .box-nav {
    overflow: hidden;
    transition: 0.3s;
  }
  .navbar .cont input[type=checkbox]:checked ~ .box-nav {
    position: absolute;
    top: 90px;
    left: 0;
    display: block;
    width: 240px;
    height: 120px;
    background-color: #1C3554;
    border-radius: 10%;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
@media (max-width: 540px) {
  .navbar .cont .acc {
    height: 0;
    position: absolute;
    left: 20px;
    top: 200px;
    z-index: 4;
    overflow: hidden;
    transition: 0.3s;
  }
  .navbar .cont input[type=checkbox]:checked ~ .acc {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  .navbar .cont input[type=checkbox]:checked ~ .box-nav {
    position: absolute;
    top: 90px;
    left: 0;
    display: block;
    width: 260px;
    height: 180px;
    background-color: #1C3554;
    border-radius: 10%;
    z-index: 3;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
.top-switcher {
  margin: 48px 0 64px;
}
.top-switcher .cont {
  display: flex;
  align-items: center;
  gap: 26px;
}
.top-switcher .cont .circle {
  width: 150px !important;
  height: 150px !important;
  border-radius: 50%;
  background-color: #CCC;
}
.top-switcher .cont .text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.top-switcher .cont .text h1 {
  color: var(--text-tittle, #1C3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
}
.top-switcher .cont .text p {
  color: var(--text-body, #808080);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}

.switcher {
  margin-bottom: 160px;
}
.switcher .cont {
  display: flex;
  flex-direction: column;
}
.switcher .cont .switchernav {
  display: flex;
  align-self: center;
  justify-content: space-between;
}
.switcher .cont .switchernav li a {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 167px;
  padding: 8px 0;
  color: var(--other-grey, #AAA);
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  text-transform: none;
}
.switcher .cont .switcher-container li .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px 16px;
}
.switcher .cont .switcher-container li .cards .card {
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: white;
  transition: 0.3s;
}
.switcher .cont .switcher-container li .cards .card .gray {
  width: 100%;
  height: 208px;
  border-radius: 4px;
  background: var(--text-in-field, #CCC);
}
.switcher .cont .switcher-container li .cards .card .text {
  display: flex;
  flex-direction: column;
}
.switcher .cont .switcher-container li .cards .card .text h3 {
  margin: 0;
  position: relative;
  top: -10px;
  align-self: center;
  padding: 4px 0;
  max-width: 130px;
  width: 100%;
  display: flex;
  justify-content: center;
  color: var(--text-white, #FFF);
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
  border-radius: 8px;
  background: var(--other-blue, #4586D6);
}
.switcher .cont .switcher-container li .cards .card .text h4 {
  margin: 0;
  color: var(--text-tittle, #1C3554);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.switcher .cont .switcher-container li .cards .card .text p:nth-child(3) {
  margin: 8px 0 0 0;
  color: var(--primary-pink, #F72585);
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}
.switcher .cont .switcher-container li .cards .card .text .rating {
  margin-top: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.switcher .cont .switcher-container li .cards .card .text .rating h5 {
  margin: 0;
  color: var(--text-body, #808080);
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.switcher .cont .switcher-container li .cards .card .text p:last-child {
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;
  gap: 8px;
}
.switcher .cont .switcher-container li .cards .card .text p:last-child del {
  color: var(--text-in-field, #CCC);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.switcher .cont .switcher-container li .cards .card .text p:last-child b {
  color: var(--text-tittle, #1C3554);
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.switcher .cont .switcher-container li .cards .card:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.switcher-button {
  margin: 56px 0 0;
}
.switcher-button .cont {
  display: flex;
  justify-content: center;
}
.switcher-button .cont a {
  max-width: 288px;
  width: 100%;
  padding: 14px 24px;
  color: var(--text-white, #FFF);
  text-align: center;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  border-radius: 8px;
  background: var(--primary-pink, #F72585);
}

.uk-subnav-pill > .uk-active > a {
  color: var(--text-tittle, #1C3554) !important;
  font-family: "Rubik", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 150% */
  border-radius: 8px;
  background-color: inherit !important;
  border-bottom: 2px solid #F72585;
}

@media (max-width: 1070px) {
  .switcher .cont .switchernav li a {
    padding: 8px 20px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }
}
@media (max-width: 1040px) {
  .switcher .cont .switcher-container li .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
}
@media (max-width: 613px) {
  .top-switcher .cont {
    flex-direction: column;
  }
  .top-switcher .cont .text {
    align-items: center;
  }
  .top-switcher .cont .text h1 {
    align-self: center;
  }
}
@media (max-width: 530px) {
  .switcher .cont .switcher-container li .cards {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
.footer {
  margin-bottom: 40px;
}
.footer .cont2 {
  padding: 80px 60px 40px;
  border-radius: 8px;
  background: var(--other-navy, #021934);
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.footer .cont2 .top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer .cont2 .top .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
.footer .cont2 .top .logo p {
  max-width: 500px;
  color: var(--text-white, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.footer .cont2 .top .fts {
  display: flex;
  gap: 50px;
}
.footer .cont2 .top .fts .ft {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .cont2 .top .fts .ft h1 {
  margin-bottom: 16px;
  color: var(--text-white, #FFF);
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.footer .cont2 .top .fts .ft a {
  color: var(--text-white, #FFF);
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.footer .cont2 .bottom {
  display: flex;
  justify-content: space-between;
}
.footer .cont2 .bottom .foter {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer .cont2 .bottom .foter a {
  color: var(--text-white, #FFF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.footer .cont2 .bottom h6 {
  color: var(--text-white, #FFF);
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

@media (max-width: 1065px) {
  .footer .cont2 .top {
    flex-direction: column;
  }
  .footer .cont2 .top .logo p {
    max-width: none;
  }
  .footer .cont2 .top .fts {
    justify-content: space-between;
  }
}
@media (max-width: 810px) {
  .footer .cont2 .bottom {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}
@media (max-width: 630px) {
  .footer .cont2 .top .fts {
    flex-direction: column;
  }
}/*# sourceMappingURL=amain.css.map */